html{
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  transform-style: preserve-3d;
  transform: perspective(1000px);
}
.card {
  background-color: white;
  /*width: 15rem;*/
  width: 13vw;
  min-width: 10rem;
  /*height: 25rem;*/
  height: 40vh;
  transform-style: preserve-3d;
  border-radius: 30px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  min-width: 10rem;
  min-height: 18rem;
  font-family: amazfont;
}
.title{
  color: #585858;
}

.img {
  width: 7rem;
  height: 10rem;
  z-index: 2;
  transition: all 0.75s ease-out;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
}
.img img{
  max-width: 7rem;
  max-height: 10rem;
}
.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.info h1 {
  text-align: center;
  transition: all 0.75s ease-out;
}
.purchase{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.purchase button {
  width: 90%;
  padding: 1rem 0rem;
  background: #f54642;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  font-weight: bolder;
}
@media(max-width: 500px){
  .card{
    font-size: 0.5rem;
  }
  .productpage{
    flex-direction: column;
  }
  #prodImage{
    flex-basis: 0px;
    align-items: center;
    justify-content: space-between;
}
}

@media(max-width: 1400px){
  .card{
    font-size: 0.7rem;
    border-radius: 15px;
  }
  .purchase button{
    padding: 0.5rem 0rem;
    border-radius: 10px;
  }

}

@media(max-width: 960px){
  .cont{
    width: 100vw;
  }
  .nav-center{
    display: none;
  }
}